.HeroSection {
    height: 100vh;
    max-height: 1100px;
    position: relative;
    overflow: hidden;
}

.HeroWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.HeroSlide {
    z-index: 1;
    width: 100%;
    height: 10%
}

.HeroSlider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroSlider::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    bottom: 0vh;
    left: 0;
    overflow: hidden;
    opacity: 0.4;
    background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.6) 100%)
}

.HeroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HeroContent {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: calc(100% - 100px);
    color: #fff;
}

.HeroContent h1 {
    font-size: clamp(1rem,8vw, 2rem);
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    text-align: left;
    margin-bottom: 0.8rem;
    width: 50%;
}

.HeroContent p {
    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    margin-bottom: 1.2rem;
    width: 30%;
}

.HeroButton1 {
    width: 140px;
    margin-right: 1rem;
    height: 45px;
    background: transparent;
    border: 2px solid #cd853f;
    outline:  #cd853f;
    color: #fff;

}

.HeroButton1:hover {
    background: #cd853f;
}

.HeroButton2 {
    width: 140px;
    margin-right: 1rem;
    height: 45px;
    background: #cd853f;
    border: 2px solid #cd853f;
    outline:  #cd853f;
    color: #fff;

}

.HeroButton2:hover {
    background: #aa6724;
}

.SliderButton {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    z-index: 10;
}

.forward-button,
.back-button {
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    background: #000d1a;
    border-radius: 50px;
    padding: 10px;
    margin-right: 1rem;
    user-select: none;
    transition: 0.3s;
}

.forward-button:hover,
.back-button:hover {
    background: #cd853f;
    transform: scale(1.05);
}
