.testimonial-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    text-align: center;
    align-items: center;
}

.testimonial-wrapper hr {
    background: crimson;
    height: 5px;
    width: 10%;
}

.testimonial-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex: wrap;
    padding: 30px 0;
    margin: 20px 0;
}

.testimonial-container .testimonial-card {
    width: 300px;
    height: 300px;
    background: rgb(198, 197, 197);
    border-radius: 15px;
    color: #000;
    align-content: center;
    text-align: center;
    padding: 27px;
}

.testimonial-card p {
    font-family: 'poppins';
    margin-top: 27px;
}

.testimonial-card h4 {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    color:rgb(100, 99, 99)
}

.testimonial-card img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    margin-top: 33px
}

@media (max-width: 1024px) {
    .testimonial-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex: wrap;
        padding: 10px 0;
        margin: 10px 0;
    }

    .testimonial-container .testimonial-card {
        width: 200px;
        height: 200px;
        background: rgb(198, 197, 197);
        border-radius: 15px;
        color: #000;
        align-content: center;
        text-align: center;
        padding: 27px;
    }
}